<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="2" android:versionName="1.0.1" package="com.auxua.mensaapp">
	<uses-sdk android:minSdkVersion="15" />
	<application android:icon="@drawable/Icon" android:label="Mensa Aachen"></application>
</manifest>